footer{
	width:100%;
	height:10vh;
	background-color:gray;
	display:flex;
	align-content:center;
	justify-content:center;
}
footer p{
	margin-left:5px;
	margin-right:5px;
	align-items:center;
	display:flex;
    font-family:Arial, Helvetica, sans-serif;
}
body>div{
	width:calc(100% - 40px);
	height:calc(90vh - 20px);
	background-color:gainsboro;
}
body{
	margin:0px;
}
#scorediv{
    padding-top:10px;
}
#score{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    margin-top:10px;
    color:black;
}
#main{
	padding:10px 20px;
	color:red;
	display:flex;
	align-items:center;
	justify-content:center;
    flex-direction:column;
}
#gamespace{
	margin:0px;
	border:2px solid black;
	padding:0px;
	/*width = 21*cols */
	width:calc(22px*30);
	min-width:calc(22px*30);
	/*height = 21*rows */
	height:calc(22px*20);
	min-height:calc(22px*20);
	display:flex;
	flex-wrap:wrap;
	/*justify-content:space-between;
	align-content:space-between;*/
	background-color:#1051ba;
}
#gamespace>div{
	/*background-color:yellow;*/
	width:20px;
	height:20px;
	margin:1px;
}
button{
    margin-left:20px;
}
